# Imports

In [1]:
import pandas as pd

# Data Load

In [2]:
df = pd.read_csv("data/kc_house_data.csv")

In [3]:
df.sample(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
13960,924069210,20140603T000000,695000.0,4,2.50,2961,12146,2.0,0,0,...,9,2961,0,1998,0,98075,47.5839,-122.052,2620,17749
7816,6383000820,20140807T000000,685900.0,3,2.50,2290,9142,1.0,0,0,...,8,2290,0,1972,0,98117,47.6910,-122.387,1770,8035
876,8802400416,20150213T000000,147500.0,3,1.00,1530,8498,1.0,0,0,...,7,1530,0,1959,0,98031,47.4040,-122.203,1380,8498
2143,9510900070,20140923T000000,292500.0,4,1.75,2140,8162,1.0,0,0,...,7,1420,720,1968,0,98023,47.3096,-122.377,2040,7632
16531,7950303530,20150409T000000,400000.0,4,2.00,2060,3060,2.0,0,0,...,7,2060,0,1968,0,98118,47.5631,-122.285,1630,3766

# Data Preparation

# ML Model

# ML Model Performance